*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;

}

body{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: space-around;
    margin: 20px 10px;
}

.icon{
    display: flex;   
}

.google-icon{
    margin-right: 20px;    
}

h2{
    font-family:'Times New Roman', Times, serif;
}

.search-bar{
    background-color: rgba(247, 238, 238, 0.308);
    width: 60%;
    justify-self: center;
    padding: 10px;
    border-radius: 20px;
}

@media (max-width: 960px){
    .search-bar{
        justify-self: flex-end;
    }

    .search-bar input{
        width: min-content;
    }
}

.magnify{
    margin-right: 10px;
    color: rgba(247, 238, 238, 0.9);
}

.search-box{
 width: 90%;
 border: none;
 background-color: transparent;
 outline: none;
}

.menu{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.menu a, .active{
   text-decoration: none; 
   color: gray;
   padding: 20px 100px 20px 20px;
   width:fit-content;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   font-weight: bolder;
}

.fa-solid, .fa-brands{
    margin-right: 20px;
}

a:hover:not(.active){
    background-color: rgb(231, 235, 235);
    transition-delay: 0.3ms;
}

/* a:focus{
    background-color:  rgba(26, 115, 323, 0.2);
} */

.active{
    background-color: rgba(26, 115, 323, 0.2);
    color: rgba(26, 115, 323, 0.9);
}

.menu a:last-child{
    margin-bottom: 20px;
}

@media (max-width: 980px){
    .menu{
        display: ;
    }
}

.container{
    display: flex;

}